---
import ProjectCard from "@/sections/projects/ProjectCard.astro"
import { Icon } from "astro-iconify"
import { ICONS } from "@/shared/lib/constants.ts"
import type { Project } from "@/shared/lib/types"

const projects: Project[] = [
    {
        title: "Travel Log Web",
        description:
            "A full-stack, SEO-optimized travel journaling platform. Features a robust server-side architecture for managing rich media entries and interactive maps.",
        techStack: ["Next.js", "TypeScript", "Tailwind CSS", "Drizzle", "PostgreSQL", "Clerk"],
        status: "Work in Progress",
        githubLink: "https://github.com/exuseric/travel-log",
        demoLink: "https://travel-log.ericmaina.me/",
    },
    {
        title: "Travel Log Mobile",
        description:
            "A cross-platform mobile application built with Kotlin Multiplatform (KMP). Focuses on shared business logic and high-performance UI for iOS and Android.",
        techStack: ["Compose Multiplatform", "Jetpack Compose"],
        status: "Learning",
    },
]
---

<section id="projects" class="layout-grid">
    <header>
        <h2 class="mb-8 flex-row-start items-center gap-x-3 text-primary">
            <Icon name={ICONS.projects} class="size-5 animate-pulse text-current" />
            Projects
        </h2>
    </header>
    <ul class="grid grid-cols-[repeat(auto-fill,minmax(min(500px,100%),1fr))] auto-rows-max gap-2 my-8 breakout w-full">
        {
            projects.map((project) => (
                <li class="w-full h-full">
                    <ProjectCard project={project} />
                </li>
            ))
        }
    </ul>
</section>