---
import SocialLinks from "@/shared/components/social-links/SocialLinks.astro"
---

<header class="w-full h-fit py-container-block layout-grid">
    <article class="flex-col-start gap-y-3">
        <h1 class="text-5xl font-semibold text-primary max-w-prose">Hey! I'm Eric Gathoni</h1>
        <p>
            I am a Full Stack Developer <em>(Front End Focused)</em> based in Nairobi, Kenya with three years of professional
            experience building performant, SEO-driven applications using TypeScript, Next.js, and Astro.
        </p>
        <p>
            My development philosophy prioritizes technical SEO and digital accessibility, where I consistently optimize
            Core Web Vitals and maintain WCAG compliance to ensure inclusive, cross-device usability and high search
            visibility.
        </p>

        <div class="mt-4">
            <SocialLinks />
        </div>
    </article>
</header>