---
import { ICONS, SOCIAL_LINKS } from "@/shared/lib/constants.ts"
import Icon from "@/shared/components/Icon.astro"

const links = [
    {
        href: SOCIAL_LINKS.github,
        icon: ICONS.github,
        label: "Github",
    },
    {
        href: SOCIAL_LINKS.linkedin,
        icon: ICONS.linkedin,
        label: "LinkedIn",
    },
    {
        href: SOCIAL_LINKS.behance,
        icon: ICONS.behance,
        label: "Behance",
    },
]
---

<ul class="flex-row-start flex-wrap gap-2">
    {
        links.map((link) => (
            <li class="[&:not(:last-child)]:border-r border-scrim/20">
                <a class="btn-text" href={link.href} target="_blank" rel="noopener noreferrer" aria-label={`Visit Eric's ${link.label} profile (opens in a new tab)`}>
                    <Icon name={link.icon} class="size-5" />
                    {link.label}
                </a>
            </li>
        ))
    }
</ul>
