---
import BlurBg from '@/components/Hero/BlurBg.astro';
---
<header class="hero container">
    <article class="hero__content">
        <h1 class="hero__title">Fullstack Developer</h1>
        <p>I'm Eric Maina—a frontend heavy fullstack developer who cares about fast, accessible, and beautiful websites.</p>
    </article>

    <article class="hero__content">
        <h2>Let's build something that works harder and loads faster.</h2>
        <div class="btn-group">
            <a href="" class="btn btn--mid btn--minimal">Projects</a>
            <a href="" class="btn btn--mid btn--minimal">Contact</a>
        </div>
    </article>

    <!-- <BlurBg /> -->
</header>

<style>
.hero__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--space-1);

    text-align: center;
    
    justify-self: center;
    
    width: 100%;
    max-width: max-content;
    height: max-content;
    
    position: relative;
    z-index: 2;
}

.hero .hero__content:nth-child(1) {
    height: 300px;
}
.hero .hero__content:nth-child(2) {
    
    padding: var(--space-8);
    
    background-color: var(--accent-lighter);
}
.hero__title {
    /* font-weight: 700; */
    color: var(--accent-dark);
}
</style>


