---
import ProjectCard from "@/features/projects/ProjectCard.astro"
import Icon from "@/shared/components/Icon.astro"
import { ICONS } from "@/shared/lib/constants.ts"
import type { Project } from "@/shared/lib/types"

const projects: Project[] = [
    {
        title: "Travel Log Web",
        description:
            "A full-stack, SEO-optimized travel journaling platform. Built with a decoupled architecture featuring a NestJS API for scalable business logic and rich media management alongside interactive maps.",
        techStack: ["Next.js", "NestJS", "TypeScript", "Tailwind CSS", "Drizzle", "PostgreSQL", "Clerk"],
        status: "Work in Progress",
        githubLink: "https://github.com/exuseric/travel-log",
        demoLink: "https://travel-log.ericmaina.me/",
    },
    {
        title: "Travel Log Android",
        description:
            "A native Android application built with Jetpack Compose. Focused on modern declarative UI patterns, efficient state management, and leveraging the full power of the Android SDK.",
        techStack: ["Kotlin", "Jetpack Compose", "Material 3", "MVVM"],
        status: "Learning",
    },
]
---

<section id="projects" class="layout-grid">
    <header>
        <h2 class="mb-8 flex-row-start items-center gap-x-3 text-primary">
            <Icon name={ICONS.projects} class="size-5 animate-pulse text-current" />
            Projects
        </h2>
    </header>
    <ul class="column-grid auto-rows-max gap-2 my-8 w-full">
        {
            projects.map((project) => (
                <li class="w-full h-full ">
                    <ProjectCard project={project} />
                </li>
            ))
        }
    </ul>
</section>