@utility button {
    @apply flex items-center justify-center gap-x-3 capitalize py-3 pl-5 pr-4 w-full md:w-fit text-center rounded-2xl border-2 border-border-default/70 hover:bg-surface-brand-subtle hover:text-foreground  hover:border-border-brand/70;
}

@utility button--neutral {
    @apply bg-surface-subtle;
}

@utility button--primary {
    @apply bg-surface-brand text-on-brand border;
}

@utility button--ghost {
    @apply bg-transparent border-transparent border-2;
}

@utility button--danger {
    @apply bg-surface-error text-error border border-border-error/50;
}

@utility button--success {
    @apply bg-surface-success text-on-success border border-border-success/50;
}

@utility button--warning {
    @apply bg-surface-warning text-on-warning border border-border-warning/50;
}

@utility button--pressed {
    @apply bg-surface-brand-subtle text-brand scale-[0.95];
}

@utility icon-button {
    @apply flex items-center justify-center w-8 h-8 rounded-full;
}

@utility button--active {
    @apply bg-surface-background text-brand border border-brand/50;
}
