/* Base Input / Textarea / Select */
input,
textarea,
select {
    @apply block w-full leading-tight px-3 py-4 border border-border-default rounded-md bg-surface-card text-foreground outline outline-transparent;
}

input:focus,
textarea:focus,
select:focus {
    @apply border border-border-default rounded-md bg-surface-background text-foreground outline outline-transparent;
}

/* Disabled */
input:disabled,
textarea:disabled,
select:disabled {
    @apply border border-border-subtle rounded-md bg-surface-subtle text-disabled cursor-none;
}

/* Error / Valid States */
input:invalid:not(:placeholder-shown),
textarea:invalid:not(:placeholder-shown),
.select--error {
    @apply border border-border-error rounded-md bg-surface-error text-error;
}

input:invalid:not(:placeholder-shown):focus-visible,
input:valid:not(:placeholder-shown):focus-visible {
    @apply outline outline-offset-2;
}

input:invalid:not(:placeholder-shown):focus-visible {
    @apply border border-border-error;
}

.textarea--error:focus,
.select--error:focus {
    @apply border border-border-error;
}

input:valid:not(:placeholder-shown),
textarea:valid,
.select--valid {
    @apply border border-border-success text-success bg-surface-success;
}

input:valid:not(:placeholder-shown):focus-visible,
textarea:valid:focus,
.select--valid:focus {
    @apply border border-border-success;
}

/* Textarea Specific */
textarea {
    min-height: 6rem;
    resize: vertical;
}

select {
    appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m17 10l-5 5l-5-5'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right var(--size-2) center;
    background-size: 1em;
    padding-right: var(--size-8);
}
/* Form Group */
.form-group {
    @apply mb-8;
}

/* Labels */
.form-label {
    @apply block mb-2 leading-tight font-medium;
}

/* Disabled label */
.form-label.is-disabled {
    @apply text-disabled;
}

/* Helper Text / Descriptions */
.form-helper {
    @apply hidden mt-1 text-xs leading-normal text-secondary;
}

input:invalid:not(:placeholder-shown) ~ .form-helper,
select:invalid ~ .form-helper,
textarea:invalid:not(:placeholder-shown) ~ .form-helper {
    @apply block;
}

/* Success / Error helper text */
.form-helper-success {
    @apply text-success;
}

.form-helper-error {
    @apply text-error;
}

.form-general-error {
    @apply hidden mb-1 px-2 py-1 text-xs rounded-sm text-on-error bg-surface-error-emphasis;
}
