@import "tailwindcss";
@import "./tokens.css" layer(global);
@import "./theme.css";
@import "./animations.css";
@import "./form-elements.css";

/*@layer framework, global, elements, components, utilities, animations;*/
@theme inline {
    /* Brand */
    --color-surface-brand: var(--surface-brand-default);
    --color-surface-brand-light: var(--surface-brand-light);
    --color-surface-brand-subtle: var(--surface-brand-subtle);
    --color-surface-brand-hover: var(--surface-brand-hover);
    --color-surface-brand-active: var(--surface-brand-active);

    --color-brand: var(--text-brand-default);
    --color-on-brand: var(--text-on-brand-color);

    /* Neutral */
    --color-surface-background: var(--surface-background);
    --color-surface-card: var(--surface-card);
    --color-surface-subtle: var(--surface-subtle);
    --color-surface-overlay: var(--surface-overlay);

    --color-foreground: var(--text-foreground);
    --color-secondary: var(--text-secondary);
    --color-disabled: var(--text-disabled);
    --color-on-dark: var(--text-on-dark);

    --color-border-brand: var(--border-brand);
    --color-border-default: var(--border-default);
    --color-border-subtle: var(--border-subtle);

    --spacing-container-block: calc(var(--spacing) * 24);
    --spacing-safe-bottom: calc(1em + env(safe-area-inset-bottom));
    --spacing-safe-top: calc(1em + env(safe-area-inset-top));
}

/*
@import "./reset.css" layer(framework);
@import "./button.css" layer(components);
@import "./navigation.css" layer(components);*/
@layer global {
    :root {
        interpolate-size: allow-keywords;
        overscroll-behavior: none;

        /* Layout */
        --content-width: min(100% - 2rem, 47rem);
        /*800px*/
        --site-width: min(100% - 2rem, 75rem);
        /*1200px*/
    }

    html,
    body {
        scroll-behavior: smooth;
        interpolate-size: allow-keywords;
        -webkit-font-smoothing: antialiased;
        text-wrap: pretty;
        transition:
            background-color var(--transition-anticipate-fast),
            color var(--transition-anticipate-medium);
    }

    body {
        position: relative;
        isolation: isolate;
        z-index: 1;
    }

    /* Typography */
    h1,
    h2,
    h3,
    h4,
    h5 {
        margin-bottom: var(--size-4);
        font-weight: 400;
        orphans: 1;
        text-wrap: balance;
    }
    h2,
    .h2 {
        @apply text-3xl leading-tight;
    }

    h3,
    .h3 {
        @apply text-xl leading-tight;
    }

    h4,
    .h4 {
        @apply text-lg leading-normal;
    }

    h5,
    .h5 {
        @apply text-base leading-normal;
    }

    h2,
    .h2,
    h3,
    .h3,
    h4,
    .h4,
    h5,
    .h5 {
        max-width: 40ch;
    }

    small {
        font-size: var(--font-size-sm);
        color: var(--text-neutral-subtle);
    }

    p {
        @apply max-w-prose m-0;
    }

    img {
        max-width: 100%;
        height: auto;
        vertical-align: middle;
        font-style: italic;
        background-repeat: no-repeat;
        background-size: cover;
        shape-margin: 1rem;
    }
}

@layer utilities {
    .glass {
        color: var(--text-neutral);
        background-color: var(--surface-neutral);
        border-color: var(--surface-brand-subtle);

        @supports (backdrop-filter: blur(30px)) {
            backdrop-filter: blur(30px);
            background-color: oklch(from var(--surface-neutral) l c h / 0.6);
            border-color: oklch(from var(--surface-neutral) l c h / 0.6);
        }
    }

    .is-disabled {
        opacity: 0.6;
        pointer-events: none;
    }

    .is-active {
        outline: 2px solid var(--surface-brand);
        outline-offset: 2px;
    }

    .is-invalid {
        border-color: var(--surface-error);
    }

    .is-valid {
        border-color: var(--surface-success);
    }

    .layout-grid {
        --padding-inline: 1rem;
        --content-max-width: var(--site-width);
        --breakout-max-width: calc(var(--site-width) + 6rem);
        --breakout-size: calc((var(--breakout-max-width) - var(--content-max-width)) / 2);

        display: grid;
        grid-template-columns:
            [full-width-start] minmax(var(--padding-inline), 1fr) [breakout-start] minmax(0, var(--breakout-size))
            [content-start] min(100% - (var(--padding-inline) * 2), var(--content-max-width)) [content-end] minmax(
                0,
                var(--breakout-size)
            )
            [breakout-end] minmax(var(--padding-inline), 1fr) [full-width-end];
        width: 100%;
    }

    @media (min-width: 768px) and (max-width: 1200px) {
        .layout-grid {
            --content-max-width: var(--content-width);
        }
    }

    .layout-grid > :not(.breakout, .full-width) {
        grid-column: content;
    }

    .layout-grid > .breakout {
        grid-column: breakout;
    }

    .layout-grid > .full-width {
        grid-column: full-width;
    }

    .page-wrapper {
        @apply flex flex-col gap-y-0 min-h-screen items-center;
    }

    [data-offscreen] {
        content-visibility: auto;
        contain-intrinsic-size: auto 31.25rem;
    }

    .button {
        @apply flex items-center justify-center gap-x-3 capitalize py-3 pl-5 pr-4 w-full md:w-fit text-center rounded-2xl border-2 border-border-default/70 hover:bg-surface-brand-subtle hover:text-foreground  hover:border-border-brand/70;
    }

    .icon-button {
        @apply flex items-center justify-center w-8 h-8 rounded-full;
    }

    @supports (corner-shape: squircle) {
        .button,
        .squircle {
            corner-shape: squircle;
        }
    }

    .button--neutral {
        @apply bg-surface-subtle;
    }

    .button--primary {
        @apply bg-surface-brand text-on-brand border;
    }

    .button--ghost {
        @apply bg-transparent border-transparent border-2;
    }

    .button--pressed {
        scale: 0.95;
        @apply bg-surface-brand-subtle text-on-brand;
    }

    .about-content ul {
        @apply list-disc pl-8;
    }
}

@layer animations {
    ::view-transition-old(root) {
        animation:
            90ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
            300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-left;
    }

    ::view-transition-new(root) {
        animation:
            210ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
            300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right;
    }
}

@scope (.faq) {
    summary {
        @apply flex flex-row flex-wrap justify-between items-center text-foreground cursor-pointer mb-2;

        h3 {
            @apply my-0 max-w-[25ch];
        }

        .icon {
            transition: transform var(--transition-micro-fast);
            @apply text-current size-5;
        }
    }

    .details-content-inner {
        @apply flex flex-col gap-y-4 pt-8 min-h-0;
    }

    .details-content-wrapper {
        transition: grid-template-rows var(--transition-anticipate-slow);
        @apply grid grid-rows-[0] overflow-hidden;
    }

    details {
        --_radius: var(--radius-lg);
        transition:
            border-radius var(--transition-medium),
            margin var(--transition-fast),
            border-color var(--transition-medium),
            border-bottom-width var(--transition-fast);
        @apply overflow-hidden border border-border-default p-4;
    }

    details[open] {
        @apply rounded-lg my-2 border-border-brand bg-surface-brand-light;

        summary {
            .icon {
                @apply rotate-z-180;
            }
        }
    }

    details[open] .details-content-wrapper {
        @apply grid grid-rows-1 overflow-hidden;
    }

    details:has(+ details[open]),
    details:last-child {
        @apply rounded-b-lg;
    }

    details[open] + details,
    details:first-child {
        @apply rounded-t-lg;
    }

    details:not(:last-child, details[open], :has(+ details[open])) {
        @apply border-b-0;
    }

    @media (min-width: 768px) {
        summary h3 {
            @apply max-w-prose;
        }
    }
}
