.nav {
    --_max-logo-height: var(--size-12);
    --_nav-padding-block: var(--size-4);
    --_nav-height: calc((var(--_max-logo-height) + var(--_nav-padding-block)) * 1.2);

    position: fixed;
    inset: auto auto 0;
    width: 100%;
    z-index: 999;
    /* isolation: isolate; */

    @media (min-width: 768px) {
        --_nav-padding-block: var(--size-2);

        inset: 0 auto auto;

        .nav-wrapper.full-width {
            grid-column: content;
        }

        .nav.glass {
            backdrop-filter: none;
        }

        /* display: grid;
        grid-template-columns: repeat(2, 50%); */
    }
}

.nav-wrapper {
    padding: var(--_nav-padding-block);
    border-radius: var(--radius-lg) var(--radius-lg) 0 0;
    align-items: center;
    max-width: max-content;

    @media (min-width: 768px) {
        grid-row: 1/ -1;
        border-radius: 0 0 var(--radius-lg) var(--radius-lg);
    }
}

.nav__logo {
    grid-column: 1 / span 1;
    grid-row: 1 / -1;

    img {
        max-height: var(--_max-logo-height);
        --fit: "contain";
        object-position: center;
    }

    @media (min-width: 768px) {
        justify-self: start;
    }
}

.nav-toggles {
    position: relative;
    isolation: isolate;

    display: grid;
    place-items: center;

    > * {
        grid-column: 1 / -1;
        grid-row: 1 / -1;
    }
}

.social-wrapper {
    grid-column: 2 / span 4;
    grid-row: 1 / -1;
    justify-self: center;
    height: 100%;

    @media (min-width: 768px) {
        grid-column: 11 / span 2;
        height: max-content;
        justify-self: end;
    }
}

.nav-action-wrapper {
    grid-column: 6 / span 1;
    grid-row: 1 / -1;

    @media (min-width: 768px) {
        display: none;
        visibility: hidden;
    }
}

.desktop-menu {
    display: none;
    visibility: hidden;

    @media (min-width: 768px) {
        display: flex;
        place-content: center;
        visibility: visible;
        grid-column: 4 / span 6;
    }
}

.mobile-menu {
    justify-self: center;

    position: absolute;
    inset: auto auto calc(var(--_nav-height) + var(--size-4));

    width: 100%;

    margin: 0;
    padding: var(--size-8) 0;

    background: red;

    border-radius: var(--radius-lg);
    overflow: hidden;
    transform-origin: center bottom;
    transition-behavior: allow-discrete;

    @media (min-width: 768px) {
        display: none;
        visibility: hidden;
    }
}

.nav__menu {
    width: 100%;

    height: max-content;
    margin: 0;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        @media (min-width: 768px) {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: var(--size-3);

            grid-row: 1 / -1;
        }
    }

    @media (min-width: 768px) {
        width: max-content;
        height: max-content;
    }
}

.nav__link {
    --_width: 100%;

    @media (min-width: 768px) {
        --_width: auto;
    }
}

.nav-toggle {
    &[data-is-visible="false"] {
        display: none;
        visibility: hidden;
    }

    &[data-is-visible="true"] {
        display: inline-flex;
        visibility: visible;
    }
}

.mobile-menu[data-is-menu-open="false"] {
    animation: scale-out var(--transition-anticipate-fast) forwards;

    @media (min-width: 768px) {
        animation: none;
    }
}

.mobile-menu[data-is-menu-open="true"] {
    animation: scale-in var(--transition-elastic-medium) forwards;

    @media (min-width: 768px) {
        animation: none;
    }
}

/* .nav {
    --_max-logo-height: var(--size-12);
    --_nav-padding-block: var(--size-2);
    --_nav-height: calc((var(--_max-logo-height) + var(--_nav-padding-block)) * 1.2);

    position: fixed;
    inset: auto auto 0;
    width: 100%;
    z-index: 999;
    padding: var(--_nav-padding-block) 0;
    border: var(--stroke-1) solid transparent;
    border-radius: var(--size-1);
    transition: all var(--transition-elastic-fast);

    .wrapper {
        display: grid;
        grid-template-columns: 1fr auto;
        align-items: center;
        gap: var(--size-2);
    }
}

.nav__container {
    position: relative;
    isolation: isolate;

    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr auto;

    padding: var(--_nav-padding-block);
    border-radius: var(--radius-lg);
    transition: background-color var(--transition-fast),
    box-shadow var(--transition-anticipate-medium),

    .nav__logo {
        grid-row: 2 / -1;
        grid-column: 1 / 2;
    }

    .nav__actions {
        grid-row: 2 / -1;
        grid-column: 2 / -1;
    }

    .nav__links {
        grid-column: 1 / -1;
        grid-row: 1 / 2;
    }
}

.nav__container[data-active="true"] {
    box-shadow: var(--shadow-md);
    border: var(--stroke-1) solid oklch(from var(--surface-neutral-hover) l c h / 0.6);
    background: linear-gradient(135deg,
            var(--surface-neutral-subtle) 0%,
            var(--surface-brand-light) 50%,
            var(--surface-neutral-subtle) 100%);


    .nav__logo__img {
        max-height: var(--_max-logo-height);
    }

    @supports (backdrop-filter: blur(30px)) {
        & {
            backdrop-filter: blur(30px);
            background: repeating-radial-gradient(circle,
                    oklch(from var(--surface-brand-light) l c h / 1) 0%,
                    oklch(from var(--surface-neutral) l c h / 0.2) 100%);
        }
    }
}

.nav__logo {
    display: flex;
    flex-direction: row;
    gap: var(--size-2);
    align-items: center;
    width: 100%;
    max-width: max-content;
    text-decoration: none;
    font-size: var(--font-size-sm);
}

.nav__logo__img {
    width: auto;
    height: 100%;
    max-height: calc(var(--_max-logo-height) * 1.5);
    transition: all var(--transition-spring-fast);
}

ul.nav__list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav__links {
    position: relative;
    // inset: auto 0 calc(100% + var(--size-2));
    z-index: -2;
    isolation: isolate;

    width: 100%;
    height: 0;
    border-radius: var(--radius-lg);
    overflow: hidden;
    background-color: transparent;
    transition: height var(--transition-elastic-fast), transform var(--transition-elastic-fast);
    transform-origin: center bottom;

    transition-behavior: allow-discrete;

    .nav__link {
        --_justify-content: flex-start;
        --_min-height: 3.8rem;
        --_min-width: 100%;
        text-align: right;
        width: 100%;
        font-size: var(--font-size-5xl);
        padding-inline: var(--size-4);
    }
}

@starting-style {
    .nav__links {
        height: 0;
        background-color: transparent;
    }
}

.nav__links[data-is-menu-open="false"] {
    height: 0;
    padding: 0;
    visibility: hidden;
    transform: scale(0);
}

.nav__links[data-is-menu-open="true"] {
    height: auto;
    visibility: visible;
    padding: var(--size-8) 0;
    transform: scale(1);
}

.nav__actions {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: end;
    gap: var(--size-3);
}

.nav__toggleWrapper {
    position: relative;
    display: grid;
    place-content: center;
    isolation: isolate;
}

.nav__toggle {
    isolation: isolate;

    &>* {
        position: absolute;
    }

    &[data-is-visible="false"] {
        display: none;
        visibility: hidden;
    }

    &[data-is-visible="true"] {
        display: inline-flex;
        visibility: visible;
    }
}

@media (min-width: 768px) {
    .nav {
        inset: 0 auto auto;
    }

    .nav__container {
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: 1fr;
        column-gap: var(--size-4);

        .nav__logo,
        .nav__links,
        .nav__actions {
            grid-row: 1 / -1;
        }

        .nav__logo {
            grid-column: 1 / 2;
        }

        .nav__actions {
            grid-column: 2 / -1;
        }

        .nav__links {
            grid-column: 2 / -2;
            grid-row: 1 / -1;
            width: 100%;
            height: max-content;
            padding: 0;

            display: flex;
            place-content: center;
        }
    }

    .nav__links {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        gap: var(--size-3);

        & .nav__link {
            text-align: left;
            font-size: var(--font-size-md);
            padding-inline: var(--size-4);
            width: auto;
        }
    }

    ul.nav__list {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: var(--size-2);
    }

    .nav__actions {
        justify-self: end;
    }

    .nav__toggleWrapper {
        display: none;
        visibility: hidden;
    }

    .nav__links[data-is-menu-open="false"],
    .nav__links[data-is-menu-open="true"] {
        height: auto;
        visibility: visible;
        transform: scale(1);
    }
}

@supports (corner-shape: squircle) {

    .nav__links,
    .nav__container {
        corner-shape: squircle;
    }
} */
