:root {
    --surface-brand-default: var(--color-brand-500);
    --surface-brand-light: var(--color-brand-50);
    --surface-brand-subtle: var(--color-brand-100);
    --surface-brand-hover: var(--color-brand-600);
    --surface-brand-active: var(--color-brand-700);

    --surface-background: var(--color-neutral-50);
    --surface-card: var(--color-neutral-100);
    --surface-subtle: var(--color-neutral-200);
    --surface-overlay: var(--color-neutral-900);

    --text-brand-default: var(--color-brand-500);
    --text-on-brand-color: var(--color-brand-50);

    --text-foreground: var(--color-neutral-900);
    --text-secondary: var(--color-neutral-600);
    --text-disabled: var(--color-neutral-400);
    --text-placeholder: var(--color-neutral-400);
    --text-on-dark: var(--color-neutral-50);

    --border-brand: var(--color-brand-300);
    --border-default: var(--color-neutral-300);
    --border-subtle: var(--color-neutral-200);
}
