---
import { getContent } from "@/utils/graphql-client";
import { heroQuery } from "@/utils/queries";
const res = await getContent(heroQuery);
const data = res.homePage.hero;
---

<header class="hero container">
    <div class="hero__wrapper">
        <header class="hero__heading">
            <h1 class="hero__title text-brand">{data.heading}</h1>
            <div class="hero__content">
                <p>{data.subheading}</p>
                <p>
                    {data.description}
                </p>
            </div>
        </header>
    </div>
</header>

<style>
    .hero {
        min-height: 100dvh;
    }
    .hero__wrapper {
        display: grid;
        grid: [stack] 1fr / [stack] 1fr;
        
        > * {
            grid-area: stack;
        }

        header {
            justify-self: start;
            align-self: center;

            z-index: 2;
            text-align: start;

            h1 {
                margin-block-start: 0;
                font-weight: 600;
            }
        }
    }

    .hero__content {
        margin-top: var(--size-4);
        
        > :not(:first-child) {
            margin-top: var(--size-1);
        }
    }
</style>
