---
import { getContent } from "@/utils/graphql-client";
import { aboutQuery } from "@/utils/queries";

const {
    homePage: { about: data },
} = await getContent(aboutQuery);
const { id } = Astro.props;
---

<div
    class="about_container container"
    id={id}
    data-highlight
    data-parent-container
>
    <!-- <header class="about__header">
        <h2>About Me</h2>
    </header> -->

    <div class="about__content" data-content-wrapper>
        <article>
            <h2>
                {data.heading}
            </h2>
        </article>
        <slot set:html={data.body.html} />
    </div>
</div>

<style>
    .about_container {
        height: 100%;
        min-height: 100vh;
    }
    .about__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    article em {
        text-decoration: 4px underline var(--color-secondary);
    }
</style>
