---
import data from "@/data/navigation.json"
import Icon from "astro-iconify"
const { nav } = data
---

<header class="md:hidden fixed z-50 h-20 inset-x-0 bottom-0 w-full border-t-2 border-t-gray-400/20 overflow-hidden">
    <nav class="flex flex-row items-center justify-between gap-4 glass px-4 pt-4 pb-safe-bottom h-full w-full">
        {
            nav.links.map((link) => (
                <a href={link.url} class="flex flex-col items-center justify-center active:bg-surface-card">
                    <Icon name={link.icon} class="size-6" />
                    {link.label}
                </a>
            ))
        }
    </nav>
</header>
