ul.nav__list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav__toggleWrapper {
    display: none;
    visibility: hidden;
}

.nav__linkCta {
    justify-self: flex-end;
}

@media (min-width: 768px) {
    .nav__container {
        display: grid;
        grid-template-columns: 1fr auto 1fr;
    }

    .nav__links,
    .nav__actions {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        /* justify-content: center; */
        gap: var(--size-3);
    }

    .nav__actions {
        justify-self: end;
    }

    ul.nav__list {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: var(--size-2);
    }
}

@media (max-width: 760px) {
    .nav {
        position: sticky;
        top: 0;
        width: 100%;
        z-index: 999;
        padding: var(--size-1) 0;
        border: 0.12rem solid transparent;
        border-radius: var(--size-1);
    }

    .nav__container {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: auto 1fr;

        position: relative;
        isolation: isolate;
        z-index: 1;
    }

    .nav__logo {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        justify-self: start;
        align-self: center;
    }

    .nav__actions {
        grid-column: 2 / -1;
        grid-row: 1 / 2;
        justify-self: end;
        align-self: center;

        width: 100%;
        visibility: visible;

        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: flex-end;
        column-gap: var(--size-2);
    }

    .nav__toggleWrapper {
        display: block;
        visibility: visible;
    }

    .nav__links {
        grid-column: 1 / -1;
        grid-row: 2 / -1;
        width: 100%;
        align-self: start;

        background-color: var(--surface-neutral-default);
        padding: var(--size-2);
        border: 0.12rem solid var(--color-border);
        border-radius: var(--size-1);

        position: absolute;
        top: calc(100% + var(--size-4));
        left: 0;
        z-index: -1;
        box-shadow: var(--shadow-sm);

    }

    .nav__links[data-is-menu-open="true"] {
        /* translate: 0 calc(-100% - var(--size-4));
        transform-origin: top; */
        animation: fade-in-top var(--transition-elastic-in-fast) both;
    }

    .nav__links[data-is-menu-open="false"] {
        /* translate: 0 0;
        transform-origin: top; */
        animation: fade-out-top var(--transition-elastic-out-fast) both;
    }

    ul.nav__list {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    .nav__toggle[data-is-menu-visible="false"]>[data-toggle-icon="close"] {
        display: none;
        visibility: hidden;
    }

    .nav__toggle[data-is-menu-visible="true"]>[data-toggle-icon="hamburger"] {
        display: none;
        visibility: hidden;
    }
}


@keyframes fade-in-top {
    0% {
        translate: 0 -50px;
        opacity: 0;
        pointer-events: none;
    }

    100% {
        translate: 0 0;
        opacity: 1;
        pointer-events: all;
    }
}

@keyframes fade-out-top {
    0% {
        translate: 0 0;
        opacity: 1;
        pointer-events: all;
    }

    100% {
        translate: 0 -50px;
        opacity: 0;
        pointer-events: none;
    }
}