---
import { Image } from "astro:assets"
import data from "@/data/navigation.json"
const { nav } = data
import LogoImage from "@/images/logo/white-horn-purple-bg.png"
import NavMenu from "@/components/navigation/NavMenu.tsx"
import NavActions from "./NavActions.astro"
import DesktopNavigation from "./DesktopNavigation.astro"

// import "./navigation.css"
---

<DesktopNavigation />

<!--

<header class="nav container" data-navigation>
    <div class="nav-wrapper grid-cols-12 glass full-width" data-active="false" data-navigation-container>
        <a href="/" class="nav__logo">
            <Image
                src={LogoImage}
                width={LogoImage.width}
                height={LogoImage.height}
                alt={nav.logo.text}
                loading="eager"
                decoding="sync"
                class="nav__logo__img"
                layout="constrained"
                format="webp"
                fit="contain"
            />
        </a>

        <div class="desktop-menu">
            <NavMenu />
        </div>

        <div class="nav-action-wrapper">
            <NavActions />
        </div>

        <div class="social-wrapper">
            <SocialButtons />
        </div>
    </div>
    <div class="mobile-menu glass" data-menu data-is-menu-open="false">
        <NavMenu />
    </div>
</header>

<script>
    window.addEventListener("DOMContentLoaded", () => {
        const navContainer = document.querySelector<HTMLElement>("[data-navigation-container]")
        if (!navContainer) return

        const updateNavState = () => {
            navContainer.dataset.active = window.scrollY > 10 ? "true" : "false"
        }

        window.addEventListener("scroll", () => requestAnimationFrame(updateNavState), { passive: true })

        window.addEventListener("ToggleMenu", () => {
            if (navContainer.dataset.active !== "true") {
                navContainer.dataset.active = "true"
            }
        })
    })
</script> -->
