---
import { Image } from "astro:assets";
import data from "@/data/navigation.json";
import { Icon } from "astro-icon/components";
// const data = await getCollection("navigation");
const { nav } = data;
import LogoImage from "@/images/logo/white-horn-purple-bg.png";
import NavMenu from "@/components/navigation/NavMenu.astro";
import NavActions from "./NavActions.astro";
import"./navigation.css";
---

<header
    class="nav container"
    data-active="false"
    data-navigation
    data-container-md
>
    <div class="surface-brand-subtle nav__container" data-navigation-container>
        <NavMenu />
        <a href="/" class="nav__logo">
            <Image
                src={LogoImage}
                width={LogoImage.width}
                height={LogoImage.height}
                alt={nav.logo.text}
                loading="eager"
                decoding="sync"
                class="nav__logo__img"
                layout="fixed"
            />
        </a>
        <NavActions />
    </div>
</header>
