---
import { Image } from "astro:assets";
import data from "@/data/navigation.json";
import { Icon } from "astro-icon/components";
// const data = await getCollection("navigation");
const { nav } = data;
import LogoImage from "@/images/purple-horn.png";
import NavMenu from "@/components/navigation/NavMenu.astro";
import NavActions from "./NavActions.astro";
import style from "./navigation.module.css";
---

<header
    class:list={[style.nav, "container breakout"]}
    data-active="false"
    data-navigation-container
>
    <div class:list={[style.nav__container]}>
        <a href="/" class:list={[style.nav__logo]}>
            <Image
                src={LogoImage}
                width={LogoImage.width}
                height={LogoImage.height}
                alt={nav.logo.text}
                loading="eager"
                decoding="sync"
                class:list={[style.nav__logo__img]}
                layout="fixed"
            />
        </a>
        <NavMenu />
        <NavActions />
    </div>
</header>

<script>
    window.addEventListener("DOMContentLoaded", () => {
        const navContainer = document.querySelector(
            "[data-navigation-container]",
        ) as HTMLElement;

        if (navContainer) {
            window.addEventListener("scroll", () => {
            const scrollY = window.scrollY;
            const isActive = scrollY > 10;
            navContainer.dataset.active = String(isActive);
            navContainer.classList.toggle("surface-neutral", isActive);
        });
        }
    });
</script>
