---
import data from "@/data/navigation.json"
const { nav } = data
// import style from "./navigation.module.css";
import Button from "@/components/Button/Button.astro"
---

<nav data-menu data-is-menu-open="false" class="nav__links" aria-label="Main Navigation">
    <ul class:list={["nav__list"]}>
        {
            nav.links.map((link) => (
                <li class:list={["nav__listItem"]}>
                    <Button as="default" href={link.url} label={link.label} variant="link" classList={["nav__link"]} />
                </li>
            ))
        }
    </ul>
</nav>

<style></style>

<script>
    // import { gsap } from "gsap"
    window.addEventListener("ToggleMenu", (event) => {
        const menu = document.querySelector("[data-menu]") as HTMLElement
        if (!menu) return
        const { detail } = event as CustomEvent

        menu.dataset.isMenuOpen = String(detail.state)

        // let tl = gsap.timeline()

        // tl.from(".nav__link", {
        //     xPercent: -50,
        //     autoAlpha: 0,
        //     ease: "back.out",
        //     duration: 0.5,
        //     stagger: {
        //         amount: 0.2,
        //         from: "center",
        //     },
        // })
    })
</script>
