---
import socialLinksData from "@/data/links.json";
import IconButton from "@/components/Button/IconButton.astro";
const { links: socialLinks } = socialLinksData;
---

<div class="primary_nav__social">
    {
        socialLinks.map((link) => (
            <IconButton iconName={[link.icon]} label={link.name} href={link.url}/>
        ))
    }
</div>

<style>
    .primary_nav__social {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        gap: var(--size-1);
    }
</style>
