---
import About from "@/sections/About.astro"
import Form from "./components/Form.astro"
---

<div
    class="bg-surface-container-low full-width md:breakout md:squircle md:supports-[corner-shape:squircle]:rounded-3xl layout-grid py-12"
>
    <div class="flex-col-start gap-y-12 md:grid md:grid-cols-2 md:gap-x-8 items-center">
        <Form />
        <About />
    </div>
</div>
