---
import { actions, isInputError, type ActionReturnType } from "astro:actions"
import About from "@/sections/About.astro"
import Form from "./components/Form.astro"

interface Props {
    result?: ActionReturnType<typeof actions.contact.sendMessage>
    success: boolean
}

const { result, success } = Astro.props
---

<div
    class="bg-surface-container full-width md:breakout md:squircle md:supports-[corner-shape:squircle]:rounded-3xl layout-grid py-12"
>
    <div class="flex-col-start gap-y-12 md:grid md:grid-cols-2 md:gap-x-8 items-center">
        <Form result={result} success={success} />
        <About />
    </div>
</div>