---
import { getContent } from "@/utils/graphql-client";
import { contactQuery } from "@/utils/queries";
import Form from "./Form.astro";

const {homePage: { contact: data }} = await getContent(contactQuery);

const {id} = Astro.props;
---

<div class="contact container" id={id} data-content-wrapper data-parent-container>
    <header class="contact__header">
        <h2>{data.heading}</h2>
        <slot set:html={data.body.html} />
    </header>
    <div class="contact__form_wrapper">
        <Form />
    </div>
</div>

<style>
    .contact__form {
        display: flex;
        flex-direction: column;
        gap: var(--space-4);
        width: 100%;
        max-width: 400px;

        margin-block: var(--space-8);
    }

    .contact__form label {
        display: block;
        margin-bottom: var(--space-1);
    }

    .contact__form input,
    .contact__form textarea {
        display: block;
        width: 100%;
        padding: var(--space-2);
        border: 0.12rem solid var(--color-border);
        border-radius: var(--border-radius);
    }

    .contact__form button:hover {
        background-color: var(--color-brand-lighter);
    }

    .contact__form input:user-invalid,
    .contact__form textarea:user-invalid {
        border-color: red;
    }

    .contact__form_wrapper {
        /* outline: 2px solid var(--color-border); */
        width: 100%;
    }
</style>
