---
// import Form from "./Form.tsx";
import Form from "./Form.astro";
---

<div class="contact container">
    <header class="contact__header">
        <h2>Let's Talk</h2>
        <p>
            If you're looking for a developer who can code it, design it, and
            optimize it, I'd love to hear from you. I take on projects that
            challenge me, clients who trust the process, and teams that value
            thoughtful collaboration.
        </p>
    </header>
    <div class="contact__form_wrapper">
        <!-- <Form client:load /> -->
        <Form />
        </div>
</div>

<style>
   .contact__form {
        display: flex;
        flex-direction: column;
        gap: var(--space-4);
        width: 100%;
        max-width: 400px;

        margin-block: var(--space-8);
    }

    .contact__form label {
        display: block;
        margin-bottom: var(--space-1);
    }

    .contact__form input,
    .contact__form textarea {
        display: block;
        width: 100%;
        padding: var(--space-2);
        border: 1px solid var(--color-border);
        border-radius: var(--border-radius);
    }

    .contact__form button:hover {
        background-color: var(--accent-lighter);
    }

    .contact__form input:user-invalid,
    .contact__form textarea:user-invalid {
        border-color: red;
    }
</style>
