---
import { getContent } from "@/utils/graphql-client";
import { aboutQuery } from "@/utils/queries";

const res = await getContent(aboutQuery);
const { heading, content } = res.aboutMe;
---

<div
  class="aboutContainer container"
  id="about"
  data-parent-container
  data-cutout
>
  <header>
    <h2 class="h1">
      {heading}
    </h2>
  </header>

  <div class="about__content" data-content-wrapper>
    <Fragment set:html={content.html} />
  </div>

  <style>
    .aboutContainer {
      height: 100%;

      header {
        justify-self: end;
      }
    }
    .about__content {
      display: flex;
      flex-direction: column;
      justify-content: center;

      em {
        font-weight: 450;
        color: var(--text-secondary-default);
      }
    }
  </style>
</div>
