---
import { getContent } from "@/utils/graphql-client"
import { aboutQuery } from "@/utils/queries"

const res = await getContent(aboutQuery)
const { heading, content } = res.aboutMe
---

<article class="h-fit" id="about">
    <header>
        <h3 class="h2 font-semibold">
            ​I build for the modern web.
        </h3>
    </header>

    <div class="about-content flex flex-col items-start justify-start gap-y-3">
        <p> With a professional background spanning frontend and full-stack roles, I’ve learned that the best code isn't just clever; it's functional and impactful. </p>

<p> ​I specialize in Next.js, Astro, and TypeScript and I’m just as comfortable designing a PostgreSQL schema or a Supabase backend as I am crafting a polished UI. </p>
    </div>
</article>
