---
import { getContent } from "@/utils/graphql-client"
import { aboutQuery } from "@/utils/queries"

const res = await getContent(aboutQuery)
const { heading, content } = res.aboutMe
---

<article class="" id="about">
    <header>
        <h3 class="font-semibold">
            {heading}
        </h3>
    </header>

    <div class="about-content flex flex-col items-start justify-start gap-y-3">
        <Fragment set:html={content.html} class="about-content" />
    </div>
</article>

<script>
    // import { gsap } from "gsap"
    // import { ScrollTrigger, SplitText } from "gsap/all"

    // document.addEventListener("DOMContentLoaded", (e) => {
    //     gsap.registerPlugin(SplitText, ScrollTrigger)

    //     let aboutHeading = new SplitText(".aboutHeading", { type: "words, chars", wordsClass: "words++" })

    //     let tl = gsap.timeline({
    //         scrollTrigger: {
    //             trigger: ".hero",
    //             endTrigger: ".aboutHeading",
    //             start: "30% top",
    //             end: "top 30%",
    //             scrub: true,
    //         },
    //     })

    //     tl.from(aboutHeading.words, {
    //         yPercent: "random([-50, 50])",
    //         rotation: "random([-10, 10])",
    //         autoAlpha: 0,
    //         ease: "back.out",
    //         stagger: {
    //             amount: 0.5,
    //             from: "random",
    //         },
    //     })
    //         .from(aboutHeading.chars, {
    //             yPercent: "random([-200, 200])",
    //             rotation: "random([-10, 10])",
    //             autoAlpha: 0,
    //             ease: "back.out",
    //             stagger: {
    //                 amount: 0.5,
    //                 from: "random",
    //             },
    //         })
    //         .to(".words5, .words7", {
    //             backgroundColor: "var(--surface-brand-subtle)",
    //             rotation: "-1",
    //             paddingInline: "var(--size-4)",
    //             borderRadius: "var(--radius-lg)",
    //             width: "max-content",
    //             ease: "power1.in",
    //             stagger: {
    //                 amount: 0.5,
    //             },
    //         })
    // })
</script>
