---
import { getContent } from "@/utils/graphql-client"
import { aboutQuery } from "@/utils/queries"

const res = await getContent(aboutQuery)
const { heading, content } = res.aboutMe
---

<article class="h-fit" id="about">
    <header>
        <h3 class="h2 font-semibold">
            {heading}
        </h3>
    </header>

    <div class="about-content flex flex-col items-start justify-start gap-y-3">
        <Fragment set:html={content.html} class="about-content" />
    </div>
</article>
