---
import { getContent } from "@/utils/graphql-client"
import { contactQuery } from "@/utils/queries"
import Form from "@/components/contact/Form.astro"
import { Icon } from "astro-iconify"
import SocialButtons from "@/components/shared/SocialButtons.tsx"
import About from "@/sections/About.astro"

const response = await getContent(contactQuery)
const { heading, content } = response.contact
---

<section class="py-container-block layout-grid">
    <article>
        <header class="mb-4">
            <h2 class="mb-8 flex flex-row items-center justify-start gap-x-3">
                <Icon name="hugeicons:earth" class="size-6 animate-pulse" />
                Let's Connect
            </h2>
            <p class="flex flex-row items-center gap-x-1">
                <Icon name="emojione-v1:flag-for-kenya" class="size-6" />
                Nairobi, Kenya
            </p>
        </header>
        <SocialButtons />
    </article>
    <div
        class="contact__formWrapper grid grid-rows-[auto] md:grid-cols-2 md:grid-rows-1 gap-x-12 md:gap-y-12 md:items-start py-8"
    >
        <Form />
        <About />
    </div>
</section>
