---
import { Icon } from "astro-iconify"
import { getContent } from "@/utils/graphql-client"
import { faqQuery } from "@/utils/queries"
const response = await getContent(faqQuery)
const { heading, faq } = response.faq
---

<div class="faq container" data-parent-container data-cutout>
    <div class="accordionWrapper container" data-container-md>
        <header class="full-width">
            <h2 class="h1 faqHeading">{heading}</h2>
        </header>
        <div class="accordionItem full-width">
            {
                faq &&
                    faq.map((faq, index) => (
                        <details open={index === 0} data-index={index} name="faq">
                            <summary>
                                <h3>{faq.question}</h3>
                                <Icon name="mdi:caret" class="icon" aria-hidden="true" focusable="false" />
                            </summary>
                            <div>
                                <Fragment set:html={faq.answer.html} />
                            </div>
                        </details>
                    ))
            }
        </div>
    </div>
</div>

<style>
    header {
        justify-self: end;
        margin-bottom: var(--size-12);
    }

    details > div {
        display: flex;
        flex-direction: column;
        gap: var(--size-4);

        padding-top: var(--size-8);
    }

    details {
        --_radius: var(--radius-lg);
        overflow: hidden;
        transition:
            height var(--transition-elastic-fast),
            border-radius var(--transition-micro-slow),
            margin var(--transition-elastic-medium);
        transition-behavior: allow-discrete;
        border: var(--stroke-1) solid var(--surface-neutral-light);
        padding: var(--size-4);

        &::details-content {
            block-size: 0;
            transition:
                block-size var(--transition-elastic-medium),
                content-visibility var(--transition-micro-slow);
            transition-behavior: allow-discrete;
        }
    }

    summary {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;

        color: var(--text-neutral-subtle);
        cursor: pointer;
        margin-bottom: var(--size-2);

        h3 {
            margin-block: 0;
            max-width: 23ch;
        }

        .icon {
            color: currentColor;
            max-width: var(--size-5);
        }
    }

    details[open] {
        border-radius: var(--_radius);
        margin-block: var(--size-8);

        &::details-content {
            block-size: auto;
        }
        summary {
            color: var(--text-brand-default);
            .icon {
                transform: rotate(180deg);
            }
        }
    }

    /*previous sibling*/
    details:has(+ details[open]),
    details:last-child {
        /*background: red;*/
        border-bottom-left-radius: var(--_radius);
        border-bottom-right-radius: var(--_radius);
    }

    /*next sibling*/
    details[open] + details,
    details:first-child {
        /*background: blue;*/
        border-top-left-radius: var(--_radius);
        border-top-right-radius: var(--_radius);
    }
    /*removes the double border between details*/
    details:not(:first-child, details[open], details[open] + details) {
        border-top: none;
        /*background: yellow;*/
    }

    @media (min-width: 768px) {
        summary h3 {
            max-width: 65ch;
        }
    }
</style>

<script>
    import { gsap } from "gsap"
    import { ScrollTrigger, SplitText } from "gsap/all"

    document.addEventListener("DOMContentLoaded", (e) => {
        gsap.registerPlugin(SplitText, ScrollTrigger)

        let heading = new SplitText(".faqHeading", { type: "lines, chars" })

        let tl = gsap.timeline({
            scrollTrigger: {
                trigger: ".contact",
                endTrigger: ".faqHeading",
                start: "50% top",
                end: "top 30%",
                scrub: true,
            },
        })

        tl.from(heading.chars, {
            yPercent: "random([-200, 200])",
            rotation: "random([-10, 10])",
            autoAlpha: 0,
            ease: "back.out",
            color: "var(--text-brand-subtle)",
            stagger: {
                amount: 0.5,
                from: "random",
            },
        })
    })
</script>
