---
import { Icon } from "astro-iconify"
import { getContent } from "@/utils/graphql-client"
import { faqQuery } from "@/utils/queries"
const response = await getContent(faqQuery)
const { heading, faq } = response.faq
---

<section
    class="py-container-block rounded-t-[6rem] rounded-b-[6rem] md:rounded-t-[12rem] md:rounded-b-[12rem] squircle bg-surface-brand-subtle layout-grid faq"
    id="faq"
>
    <header>
        <h2 class="mb-8 flex flex-row items-center justify-start gap-x-3">
            <Icon name="hugeicons:help-square" class="size-6 animate-pulse" />
            Some Q&A
        </h2>
    </header>
    <div class="accordionWrapper">
        <div class="accordionItem">
            {
                faq &&
                    faq.map((faq, index) => (
                        <details open={index === 0} data-index={index} name="faq">
                            <summary>
                                <h3>{faq.question}</h3>
                                <Icon
                                    name="hugeicons:arrow-down-01"
                                    class="icon"
                                    aria-hidden="true"
                                    focusable="false"
                                />
                            </summary>
                            <div class="details-content-wrapper">
                                <div class="details-content-inner">
                                    <Fragment set:html={faq.answer.html} />
                                </div>
                            </div>
                        </details>
                    ))
            }
        </div>
    </div>
</section>
