---
import { Image } from "astro:assets"

import SocialButtons from "@/components/navigation/SocialButtons.astro"
import LogoImage from "@/images/logo/purple-horn.png"
---

<footer>
    <div class="container" data-container-md data-cutout>
        <div class="footer-logo surface-neutral flex-center"></div>
        <div class="footer-content flex-between">
            <div class="footer-section">
                <span class="copyright text-sm"
                    >&copy;&nbsp;{new Date().getFullYear()}&nbsp;Eric Gathoni. All rights reserved.</span
                >
            </div>
            <nav class="footer-nav" aria-label="Footer navigation">
                <SocialButtons />
                <a href="http://github.com/exuseric" target="_blank" title="github">GITHUB</a>
            </nav>
        </div>
    </div>
</footer>

<style>
    footer {
        background: linear-gradient(to bottom, var(--surface-neutral-default), var(--surface-brand-light));
    }
    .footer-content {
        align-self: end;
        padding-top: var(--size-32);
        padding-bottom: var(--size-12);
    }
</style>
