---
import { Icon } from "astro-iconify"

const footerLinks = [
    {
        name: "github",
        url: "https://github.com/exuseric",
        icon: "clarity:arrow-line",
        title: "connect on github",
    },
    {
        name: "behance",
        url: "https://behance.net/exuseric",
        icon: "clarity:arrow-line",
        title: "connect on behance",
    },
    {
        name: "linkedin",
        url: "https://linkedin.com/in/exuseric",
        icon: "clarity:arrow-line",
        title: "connect on linkedin",
    },
    {
        name: "mail",
        url: "mailto:hello@ericmaina.me",
        icon: "clarity:arrow-line",
        title: "email me at hello@ericmaina.me",
    },
]
---

<footer class="layout-grid py-container-block">
    <div class="flex flex-col flex-wrap items-start justify-start gap-y-24">
        <nav class="flex flex-col md:flex-row flex-wrap items-start justify-start md:justify-between gap-y-8 w-full">
            {
                footerLinks.map((link) => (
                    <a
                        class="h2 footerLink relative isolate flex flex-row items-center gap-0 text-current hover:text-brand"
                        href={link.url}
                        target="_blank"
                        rel="noopener noreferrer"
                        title={link.title}
                    >
                        <span>{link.name.toUpperCase()}</span>
                        <Icon name={link.icon} aria-hidden="true" focusable="false" class="link-icon p-1" />
                    </a>
                ))
            }
        </nav>
        <div class="footerBottom">
            <p class="copyright text-sm">
                &copy;&nbsp;{new Date().getFullYear()}&nbsp;Eric Gathoni. All rights reserved.
            </p>
            <p class="text-sm">Nairobi, Kenya</p>
        </div>
    </div>
</footer>

<style>
    .footerLink {
        --_arrow-angle: 45deg;
        --_block-width: calc(100% - 1em);

        text-decoration: none;
        /*transition: all var(--transition-fast);*/

        .link-icon {
            width: 1.2em;
            height: 1.2em;
            transform: rotateZ(var(--_arrow-angle));
            transition: transform var(--transition-fast);
            transform-origin: center;
        }

        &::before {
            content: "";
            position: absolute;
            inset: auto 0 0;
            z-index: -1;
            display: inline-block;
            width: var(--_block-width);
            height: 0.05em;
            background-color: currentColor;
            margin-right: var(--size-2);
            transition: width var(--transition-fast);
        }

        &:hover {
            --_arrow-angle: 90deg;
            --_block-width: 100%;
        }
    }
</style>
