---
import { Image } from "astro:assets";

import SocialButtons from "@/components/navigation/SocialButtons.astro";
import LogoImage from "@/images/logo/purple-horn.png";
---

<footer class="surface-brand">
    <div class="container" data-container-md data-cutout>
        <div class="footer-logo surface-neutral flex-center"></div>
        <div class="footer-content flex-between">
            <div class="footer-section">
                <span class="copyright text-sm"
                    >&copy;&nbsp;{new Date().getFullYear()}&nbsp;Eric Gathoni.
                    All rights reserved.</span
                >
            </div>
            <nav class="footer-nav" aria-label="Footer navigation">
                <SocialButtons />
            </nav>
        </div>
    </div>
</footer>

<style>
    .footer-content {
        align-self: end;
        padding-top: var(--size-32);
        padding-bottom: var(--size-32);
    }

    /* .footer-logo {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 100%;
        max-width: var(--size-32);
        max-height: var(--size-32);
        margin-bottom: -20rem;
        translate: 0 -50%;

        border-radius: var(--radius-round);
    } */
</style>
